/* import google font*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: white;
}

h1{ color: white;
    font-size: 1.75rem;
    padding: 18px 0;
    text-align: center;
    font-size: 1.75rem;
    background:rgb(54, 54, 149);

}
.container{
    display: flex;
    gap: 35px;
    padding: 30px;

}

.weather-input{
    width: 550px;

}

.weather-input input{
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    font-size: 1.07rem;
    border: 1px solid #ccc;

}
.weather-input .seperator{
    height: 1px;
    width: 100%;
    background: #bbb;
    margin: 25px 0;
    justify-content: center;

}


.weather-input button{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 12px;
    outline: none;
    border: #fff;
    font-size: 1rem;
    border-radius: 4px;
    background:#5372F0;


}

.weather-input .atlanta-btn {
    background: #9da0a2;
}
.weather-data{
    width: 100%;
}

.current-weather{
color: #fff;
display: flex;
border-radius: 5px;
padding: 20px 70px 20px 20px;
background: rgb(100, 100, 171);
justify-content: space-between;

}

.current-weather h2{
    font-size: 1.7rem;
}

.weather-data h4{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}

.days-forecast h2{
    font-size: 1.5rem;
    margin: 20px 0;
 

}

.weather-cards{
    display: flex;
    gap: 20px;
}

.weather-cards .card{

    list-style: none;
    color: #fff;
    padding: 18px 16px;
    border-radius: 5px;
    background: rgb(29, 29, 46);
    width: calc(100% / 5);
 

}

